* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

/*== Section Title ==*/
.section-title {
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.section-title h2 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
}

.section-title h2 span {
	color: #1e90ff;
}

.section-title::after {
	position: absolute;
	content: '';
	background: #1e90ff;
	height: 3px;
	width: 80px;
	left: 50%;
	transform: translateX(-50%);
}

/*== Contact ==*/
.contact-area {
	padding: 100px 0;
}


.contact-links {
	text-align: center;
}

.contact-links img {
	max-width: 100px;
	margin-bottom: 20px
}

.contact-links h3 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
}

.contact-links .social-link {
	display: flex;
	justify-content: center;
}

.contact-links .social-link a i {
	color: #fff;
	background: #1e90ff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 20px;
	transition: .3s;
}

.contact-links .social-link a i:hover {
	background: #333;
	transform: rotate(360deg);
}

.contact-mid {
	position: relative;
}

.contact-mid::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	background: #1e90ff;
	left: 50%;
	transform: translateX(-50%);
}

.contact-form input,
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	text-transform: capitalize;
}

.contact-form input:last-child {
	margin-bottom: 0;
	background: #1e90ff;
	color: #fff;
	font-size: 24px;
	transition: .5s;
	font-weight: 600;
}

.contact-form input:last-child:hover {
	box-shadow: inset 800px 0 0 0 #333;
}

@media(max-width:767.98px) {
	.contact-links {
		margin-bottom: 50px;
	}
}
